<!-- register.html -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" href="/public/images/favicon.ico" type="image/x-icon">
    <title>Registrar-se - ChatRPG</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        footer {
            margin-top: auto;
        }
    </style>
</head>
<body class="bg-gray-900 text-white flex flex-col justify-between">
    <header class="bg-gray-800 text-white shadow-md fixed w-full top-0 left-0 z-50">
        <div class="container mx-auto flex items-center justify-between p-2">
            <div class="flex items-center">
                <img src="/public/images/icon.png" alt="ChatBOT Icon" class="w-10 h-10 rounded-full">
                <h1 class="ml-3 text-xl font-semibold">ChatRPG</h1>
            </div>
        </div>
    </header>
    <div class="flex flex-col items-center justify-center flex-1 mt-16"> <!-- Espaço para o header -->
        <div class="w-full max-w-xs">
            <!-- Substitua a URL pela rota correta do backend -->
            <form action="/register" method="POST" class="bg-gray-800 shadow-md rounded px-8 pt-6 pb-8 mb-4">
                <h2 class="text-2xl font-bold mb-6 text-center">Registrar-se</h2>
                <!-- Mensagens de erro -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class="mb-4">
                            {% for category, message in messages %}
                                <div class="text-sm font-bold mb-2 {% if category == 'success' %}text-green-500{% else %}text-red-500{% endif %}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <div class="mb-4">
                    <label for="username" class="block text-sm font-bold mb-2">Usuário</label>
                    <input type="text" name="username" id="username" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                </div>
                <div class="mb-6">
                    <label for="password" class="block text-sm font-bold mb-2">Senha</label>
                    <input type="password" name="password" id="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" required>
                </div>
                <div class="flex items-center justify-between">
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Registrar-se</button>
                    <a href="/login" class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">Voltar ao Login</a>
                </div>
            </form>
        </div>
    </div>
    <footer class="bg-gray-800 text-white py-1">
        <div class="container mx-auto flex items-center justify-end">
            <p class="text-sm flex items-center">
                Criado por 
                <a href="https://github.com/tiago-gl" class="ml-2 text-blue-400 hover:text-blue-500 flex items-center">
                    <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub Icon" class="w-5 h-5 mr-1">
                    Tiago Gomes
                </a>
            </p>
        </div>
    </footer>
</body>
</html>